<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrqR_mXIiCRKqt5K1zm0lOLe5rOeGmr4A</string>
	<key>GCM_SENDER_ID</key>
	<string>819894194746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoreZone</string>
	<key>PROJECT_ID</key>
	<string>cricketzone-e9d00</string>
	<key>STORAGE_BUCKET</key>
	<string>cricketzone-e9d00.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819894194746:ios:315567acf32ec28bee9b03</string>
</dict>
</plist>